* {margin: 0; padding: 0; box-sizing: border-box;}
#wrap {width: 360px; height:600px;}
a {color : #ffffff; text-decoration: none; font-size:18px; font-weight: bold;}

/* 상단 메뉴 */
header {background-color: rgb(33,83,103); height: 50px;}
.select_menu {padding-left: 15px; line-height:50px;}
.select_sub {padding-left: 15px; line-height:40px;}
nav {background-color: rgb(90,148,163); height: 40px; }
/*로그아웃 버튼*/
.logout {font-weight: normal;; margin-left: 180px; font-size:14px;}

/* 대화 목록 */
#contents {height:550px; overflow:scroll;}
table{border-collapse : collapse; width:343px;}
td {padding-top: 5px; padding-bottom: 5px;}
td:nth-child(1) {padding-left: 15px;}
td:nth-child(2) {font-size: 15px; font-weight: bold;}
td:nth-child(3) > div{margin-right: 5px;padding-left: 3px;height: 30px;border-radius: 3px;line-height: 30px;border:1px solid #eee;overflow:hidden; text-overflow: ellipsis; white-space: nowrap; width:160px; font-size: 14px; float: right;}
tr:hover {background-color: #F4F3F3;}

/*프로필 사진*/
img {margin-top: 3px; width:40px; height:40px;}

/* 1:1 채팅방 */
#chatbox {height: 510px;}
.chat {overflow:scroll; height: 430px;}
.message {height:80px; border:0.6px solid black;}
