* {margin: 0; padding: 0; box-sizing: border-box;}
#wrap {width: 360px; height:600px;}
a {color : #ffffff; text-decoration: none; font-size:18px; font-weight: bold;}

/* 상단 메뉴 */
header {background-color: rgb(33,83,103); height: 50px;}
.select_menu {padding-left: 15px; line-height:50px;}
.select_sub {padding-left: 15px; line-height:40px;}
nav {background-color: rgb(90,148,163); height: 40px; }
/*로그아웃 버튼*/
.logout {font-weight: normal;; margin-left: 180px; font-size:14px;}

/* 대화 목록 */
#contents {height:550px; overflow:scroll;}
table{border-collapse : collapse; width:340px;}
td {padding-top: 5px; padding-bottom: 5px; border-bottom : 0.5px solid gray;}
td:nth-child(1) {padding-left: 14px; padding-right:17px;}
td:nth-child(2) {width: 220px; }
a[href = "/chatting"] {width:100px; padding:3px;  background-color: rgb(147,205,220)}

/* 1:1 채팅방 */
#chatbox {height: 510px;}
.chat {overflow:scroll; height: 430px;}
.message {height:80px; border:0.6px solid black;}
