* {margin: 0; padding: 0; box-sizing: border-box;}
#wrap {width: 360px; height:600px;}
a {color : #ffffff; text-decoration: none; font-size:18px; font-weight: bold;}

/* 상단 메뉴 */
header {background-color: rgb(33,83,103); height: 50px;}
.select_menu {padding-left: 15px; line-height:50px;}
.select_sub {padding-left: 15px; line-height:40px;}
nav {background-color: rgb(90,148,163); height: 40px; }
/*로그아웃 버튼*/
.logout {font-weight: normal;; margin-left: 180px; font-size:14px;}

/* 친구 목록 / 친구 추가 목록 */
#contents {height:510px; overflow:scroll;}
table{border-collapse : collapse; width:343px;}
td {padding-top: 5px; padding-bottom: 5px;}
td:nth-child(1) {padding-left: 15px; width: 70px;}
td:nth-child(2) {font-size: 15px; font-weight: bold;}
tr:hover {background-color: #F4F3F3;}

/*프로필 사진*/
img {margin-top: 3px; width:40px; height:40px;}

/* 대화하기 버튼
a[href = "/chatting"] {width:100px; padding:3px;  background-color: rgb(147,205,220);} */

/* 친구추가 버튼 */
input[value = "친구 추가"] {float:right; margin-right:10px; border: 0; background-color: rgb(147,205,220); font-weight: bold; color:#ffffff; width:70px; height:35px;}
