<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type = "text/css" href="css/Friend.css">
</head>
<body>
  <div id="wrap">
    <header>
      <div class = "select_menu">
        <a href="/friendlist" style = "color:#ffffff">친구</a>
        <a href="/chatlist" style = "color: rgb(184,204,228)">대화</a>
        <a href="/logout" class = "logout">로그아웃</a>
      </div>
    </header>
    <nav>
      <div class="select_sub">
        <a href="/friendlist" style = "color: rgb(184,204,228)">친구 목록</a>
        <a href="/addfriend" style = "color: #ffffff">친구 추가</a>
      </div>
    </nav>
    <div id="contents">
      <table>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>OOO</td>
          <td><input type="button" value = "친구 추가"></td>
        </tr>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>XXX</td>
          <td><input type="button" value = "친구 추가"></td>
        </tr>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>UUU</td>
          <td><input type="button" value = "친구 추가"></td>
        </tr>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>SSS</td>
          <td><input type="button" value = "친구 추가"></td>
        </tr>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>QQQ</td>
          <td><input type="button" value = "친구 추가"></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
