<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type = "text/css" href="css/Friend.css">
  <link rel="shortcut icon" href="img/favicon-16x16.png">
</head>
<body>
  <div id="wrap">
    <header>
      <div class = "select_menu">
        <a href="/friendlist" style = "color:#ffffff">친구</a>
        <a href="/chatlist" style = "color: rgb(255,255,255,.6)">대화</a>
        <a href="/logout" class = "logout">로그아웃</a>
      </div>
    </header>
    <nav>
      <div class="select_sub">
        <a href="/friendlist" style = "color: rgb(255,255,255,.6)">친구 목록</a>
        <a href="/addfriend" style = "color: #ffffff">친구 추가</a>
      </div>
    </nav>
    <div id="contents">
      <div id = "search">
        <span class = "searchico"><img src="img/searchico.png"></span>
        <input type = "text" id = "keyword" placeholder="이름검색"/>
      </div>
      <table>
          <%
              list.forEach((item) => {
          %>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td><%=item.name%></td>
          <td><input type="button" value = "친구 추가" class = "add" data-id = "<%=item.id%>" data-name = "<%=item.name%>"></td>
        </tr>
        <%
            });
        %>
      </table>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
<<<<<<< HEAD
    $('#keyword').keyup(function() {
      var keyword = $(this).val();
      $('tr').hide();
      var temp = $("td:nth-child(2):contains('"+keyword+"')");

      $(temp).parent().show();
    });
=======
    $(".add").on("click", function() {
        let id = $(this).attr('data-id');
        let name = $(this).attr('data-name');
        let url = `/insertFriend?id=${id}&name=${name}`;

        $.get(url,function(result) {
            if(!result){
                alert("친구추가 실패");
            }
        });
        $(this).parents("tr").remove();

    })
>>>>>>> sw
  </script>
</body>
</html>
