<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type = "text/css" href="css/Chat.css">
</head>
<body>
  <div id="wrap">
    <header>
      <div class = "select_menu">
        <a href="/friendlist" style = "color: rgb(184,204,228)">친구</a>
        <a href="/chatlist" style = "color: #ffffff">대화</a>
        <a href="/logout" class = "logout">로그아웃</a>
      </div>
    </header>
    <div id="contents">
      <table>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>OOO</td>
          <td><div>안녕하세요! 저는 홍길동입니다.</div></td>
        </tr>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>XXX</td>
          <td><div>안녕!</div></td>
        </tr>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>UUU</td>
          <td><div>나는 서울에 살아. 너는 어디 살아?</div></td>
        </tr>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>SSS</td>
          <td><div>반가워!</div></td>
        </tr>
        <tr>
          <td><img src="img/profile.png" alt="프로필"></td>
          <td>QQQ</td>
          <td><div>뭐해?</div></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
