<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type = "text/css" href="css/Chat.css">
  <link rel="shortcut icon" href="img/favicon-16x16.png">
</head>
<body>
  <div id="wrap">
    <header>
      <div class = "select_menu">
        <a href="/friendlist" style = "color: rgb(184,204,228)">친구</a>
        <a href="/chatlist" style = "color: #ffffff">대화</a>
        <a href="/logout" class = "logout">로그아웃</a>
      </div>
    </header>
    <nav>
      <div class="select_sub">
        <span style = "font-weight: bold; color:#ffffff;">OOO님과의 1:1채팅방</span>
      </div>
    </nav>
    <div id="chatbox">
      <div class="chat">
        <ul>
            <li class="fl">
              <div class = "name">OOO</div>
              <div class = "umessage">안녕하세요. 저는 OOO입니다.</div>
            </li>
            <li class="fr">
              <div class = "mmessage">안녕하세요! 저는 홍길동입니다.</div>
            </li>
            <li class="fl">
              <div class = "name">OOO</div>
              <div class = "umessage">어디서 사시나요?</div>
            </li>
            <li class="fr">
              <div class = "mmessage">아, 저는 서울에서 삽니다.</div>
            </li>
            <li class="fl">
              <div class = "name">OOO</div>
              <div class = "umessage">그렇군요. 저는 인천에 살아요.</div>
            </li>
            <li class="fr">
              <div class = "mmessage">인천 좋죠.</div>
            </li>
            <li class="fl">
              <div class = "name">OOO</div>
              <div class = "umessage">맞아요. 좋아요.</div>
            </li>
            <li class="fr">
              <div class = "mmessage">제가 지금 밥을 먹어야 해서 밥 좀 먹고 오겠습니다.</div>
            </li>
            <li class="fl">
              <div class = "name">OOO</div>
              <div class = "umessage">네. 다녀오시고 연락주세요.</div>
            </li>
        </ul>
      </div>
      <div class="message">
        <form action="">
          <textarea name = "message" style = "float:left; border:0; font-size: 15px; width:290px; height:78px; padding: 5px;"></textarea>
          <button type = "submit" style = "color: #ffffff; font-size: 16px; font-weight: bold; margin-top: 10px; margin-right: 10px; float:right; width:58px; border:0; height:58px; background-color: rgb(147,205,220)">전송</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
