<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type = "text/css" href="css/Chat.css">
</head>
<body>
  <div id="wrap">
    <header>
      <div class = "select_menu">
        <a href="/friendlist" style = "color: rgb(184,204,228)">친구</a>
        <a href="/chatlist" style = "color:#ffffff)">대화</a>
        <a href="/logout" class = "logout">로그아웃</a>
      </div>
    </header>
    <div id="contents">
      <table>
        <tr>
          <td>1</td>
          <td><span style = "font-size:14px;">OOO</span><br><span style = "font-size:12px;">하냥</span></td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td><span style = "font-size:14px;">XXX</span><br><span style = "font-size:12px;">안녕하세요.</span></td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td><span style = "font-size:14px;">UUU</span><br><span style = "font-size:12px;">뭐하니?</span></td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td><span style = "font-size:14px;">???</span><br><span style = "font-size:12px;">뭐라고?????</span></td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>5</td>
          <td><span style = "font-size:14px;">(알수없음)</span><br><span style = "font-size:12px;">라라라라라라라라라라라라라라</span></td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
