<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type = "text/css" href="css/Friend.css">
  <link rel="shortcut icon" href="img/favicon-16x16.png">
</head>
<body>
  <div id="wrap">
    <header>
      <div class = "select_menu">
        <a href="/friendlist" style = "color:#ffffff">친구</a>
        <a href="/chatlist" style = "color: rgb(255,255,255,.6)">대화</a>
        <a href="/logout" class = "logout">로그아웃</a>
      </div>
    </header>
    <nav>
      <div class="select_sub">
        <a href="/friendlist" style = "color:#ffffff">친구 목록</a>
        <a href="/addfriend" style = "color: rgb(255,255,255,.6)">친구 추가</a>
      </div>
    </nav>
    <div id="contents">
      <div>
        <span class = "searchico"><img src="img/searchico.png"></span>
        <input type = "text" id = "keyword" placeholder="이름검색"/>
      </div>
      <table>
          <%
              list.forEach((item) => {
          %>
        <tr class = "move" data-name = "<%=item.fname%>" data-id = "<%=item.fid%>">
          <td><img src="img/profile.png" alt="프로필"></td>
          <td><%=item.fname%></td>
        </tr>
        <% });%>
      </table>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $('.move').dblclick(function() {
        let fname = $(this).attr('data-name');
        let fid = $(this).attr('data-id');
      location.href = `/chatting?fname=${fname}&fid=${fid}`;
    });

    $('#keyword').keyup(function() {
      var keyword = $(this).val();
      $('.move').hide();
      var temp = $(".move > td:nth-child(2):contains('"+keyword+"')");

      $(temp).parent().show();
    });

    $('.move').click(function() {
      let fname = $(this).attr('data-name');
      let fid = $(this).attr('data-id');
      var tr = $(this);

      $('.move').removeClass("active");
      tr.addClass("active");

      //행을 클릭한 후 엔터키 입력 시 그 클릭한 행(사람)과의 1:1 채팅 페이지가 뜸.
      $('html').keydown(function(key) {
        if(key.keyCode == 13) {
          location.href = `/chatting?fname=${fname}&fid=${fid}`;
        }
      });
    });
  </script>
</body>
</html>
