<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" type = "text/css" href="css/Friend.css">
</head>
<body>
  <div id="wrap">
    <header>
      <div class = "select_menu">
        <a href="/friendlist" style = "color:#ffffff">친구</a>
        <a href="/chatlist" style = "color: rgb(184,204,228)">대화</a>
        <a href="/logout" class = "logout">로그아웃</a>
      </div>
    </header>
    <nav>
      <div class="select_sub">
        <a href="/friendlist" style = "color:#ffffff">친구 목록</a>
        <a href="/addfriend" style = "color: rgb(184,204,228)">친구 추가</a>
      </div>
    </nav>
    <div id="contents">
      <table>
        <tr>
          <td>1</td>
          <td>OOO</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>XXX</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>UUU</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>SSS</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>QQQ</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>6</td>
          <td>MMM</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>7</td>
          <td>III</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>8</td>
          <td>BBB</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>9</td>
          <td>EEE</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>10</td>
          <td>CCC</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>11</td>
          <td>PPP</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
        <tr>
          <td>12</td>
          <td>YYY</td>
          <td><a href="/chatting">대화하기</a></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
